/Bags/
/Bags2/
/Bags3/
/Bags4/
/Nothing/
**/__pycache__/
/FacialImagesFromVideo/
*.png
*.mp4
*.mkv
*.m4a
src/__pycache__/
/OutputVideos/
/OutputInformation/
/env/
*.hdf5
*.locations.p
*.rectangles.p
*.rectanglesNoDecisionAmbiguity.p
**/201804_model/
**/.idea/
